body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 1.5rem;
}

.social-links {
    list-style: none;
    padding: 0;
    justify-content: center;
}

.social-links li {
    margin: 0 10px;
}

.social-links img {
    width: 40px;
    height: 40px;
}